table{
	width:100%;
}
.list-bt{
	float:left;
	margin-right:.5em;
}
.dashboard-header{
	font-size:1.7em;
	margin:1em 0;
}
.prof-info-item{
	margin-bottom:.5em;
	font-size:.8em;
}
.prof-edit-bt{
	width:100%;
}
.prof-activity-bt{

}